Výstupná tabuľka pre rok 2016 má 400mb a jej otváranie trvá dlho. Z toho dôvodu je v nasledujúcom kóde jej náhľad.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("result_2016.csv")

In [3]:
df

,org_img,image,event,date,second,milisecond,tweek,f_min<2kHz,tweek_sign
0,ch2_20160101_000242_596_s102,ch2_20160101_000242_596_s102-S1.jpg,1,20160101_000242,102,455,0,0,0
1,ch2_20160101_000242_596_s12,ch2_20160101_000242_596_s12-S1.jpg,1,20160101_000242,12,854,0,0,0
2,ch2_20160101_000242_596_s143,ch2_20160101_000242_596_s143-S1.jpg,1,20160101_000242,143,227,0,0,0
3,ch2_20160101_000242_596_s143,ch2_20160101_000242_596_s143-S2.jpg,2,20160101_000242,143,973,0,0,0
4,ch2_20160101_000242_596_s21,ch2_20160101_000242_596_s21-S1.jpg,1,20160101_000242,21,33,0,1,0
...,...,...,...,...,...,...,...,...,...
4417691,ch2_20161231_235851_604_s42,ch2_20161231_235851_604_s42-S1.jpg,1,20161231_235851,42,878,0,0,0
4417692,ch2_20161231_235851_604_s52,ch2_20161231_235851_604_s52-S1.jpg,1,20161231_235851,52,739,0,0,0
4417693,ch2_20161231_235851_604_s69,ch2_20161231_235851_604_s69-S1.jpg,1,20161231_235851,69,246,0,0,0
4417694,ch2_20161231_235851_604_s69,ch2_20161231_235851_604_s69-T1.jpg,1,20161231_235851,69,248,1,0,2
4417695,ch2_20161231_235851_604_s82,ch2_20161231_235851_604_s82-T1.jpg,1,20161231_235851,82,810,1,0,3

In [4]:
df.shape

(4417696, 9)

In [5]:
df.dtypes

org_img       object
image         object
event          int64
date          object
second         int64
milisecond     int64
tweek          int64
f_min<2kHz     int64
tweek_sign     int64
dtype: object

In [7]:
df.count()

org_img       4417696
image         4417696
event         4417696
date          4417696
second        4417696
milisecond    4417696
tweek         4417696
f_min<2kHz    4417696
tweek_sign    4417696
dtype: int64