## Python notebook 
V nasledujúcom notebooku sú popísané Python metódy použité pre analýzu zhlukov k-Means. Obsah notebooku je nasledujúci:
1. Import potrebných knižníc
2. Analýza zhlukov

# 1. Import potrebných knižníc

In [1]:
import pandas as pd
import numpy as np

# 2. Analýza zhlukov

Analyzujeme jednotlivé zhluky SOM mapy. Na začiatku načítame csv súbor výstupnej tabuľky s informáciou o zhlukoch a ďalších parametroch. Sledujeme ako mapa vyzerajá vizuálne, podobnosť zhlukov a ich vzdialenosť. Ďalej pomocou výstupnej tabuľky analyzujeme početnosti jednotlivých atribútov v zhlukoch.

<H3>5x5 som net with sigma and learning rate optimalized<H3>

<img src="img/som_5_5_cluster.png">

In [3]:
#load data
data = pd.read_csv("som_csv/som5_5_2014_11.csv")
data.drop(['org_img', 'event', 'date', 'second', 'milisecond'],axis='columns', inplace=True)
data

,image,tweek,f_min<2kHz,tweek_sign,cluster
0,ch2_20141130_000500_988_s122-S1.jpg,0,0,0,0
1,ch2_20141130_000500_988_s122-T1.jpg,1,1,4,22
2,ch2_20141130_000500_988_s122-S2.jpg,0,1,0,24
3,ch2_20141130_000500_988_s125-S1.jpg,0,1,0,12
4,ch2_20141130_000500_988_s125-S2.jpg,0,0,0,0
...,...,...,...,...,...
13642,ch2_20141130_235542_205_s9-S13.jpg,0,1,0,9
13643,ch2_20141130_235542_205_s9-S14.jpg,0,0,0,18
13644,ch2_20141130_235542_205_s9-S15.jpg,0,0,0,13
13645,ch2_20141130_235542_205_s9-S16.jpg,0,0,0,13
13646,ch2_20141130_235542_205_s95-S1.jpg,0,1,0,24

In [4]:
#pocetnost imgs v clustroch
cluster_count = data.filter(['image','cluster'], axis=1) 
cluster_count.groupby('cluster').count()

         image
cluster
0         2349
1           60
2           13
4           11
5           35
6            1
7          415
8           40
9          484
10         647
11          11
12        1896
13         631
15          16
17          22
18        2467
19         141
20         885
21           5
22        1779
23         684
24        1055

<img src="img/som_5_5_cluster.png">

In [5]:
#rozlozenie tweekov a sphericov v clustroch
tweek_count = data.filter(['tweek','cluster'], axis=1)
tweek_count.value_counts(sort=False)

tweek  cluster
0      0          2336
       1            53
       2             7
       4             8
       5            34
       6             1
       7           303
       8            23
       9           478
       10          639
       11           11
       12         1815
       13          630
       15           16
       17           22
       18         2448
       19          141
       20          804
       21            5
       22         1676
       23          260
       24          689
1      0            13
       1             7
       2             6
       4             3
       5             1
       7           112
       8            17
       9             6
       10            8
       12           81
       13            1
       18           19
       20           81
       22          103
       23          424
       24          366
dtype: int64

In [6]:
fmin_count = data.filter(['f_min<2kHz','cluster'], axis=1)
fmin_count.value_counts(sort=False)

f_min<2kHz  cluster
0           0          2022
            1            26
            2             4
            4             2
            5            13
            7           151
            8            11
            9           274
            10          344
            11           10
            12         1165
            13          569
            15           16
            17           22
            18         2001
            19          128
            20          201
            21            1
            22          612
            23           21
            24          223
1           0           327
            1            34
            2             9
            4             9
            5            22
            6             1
            7           264
            8            29
            9           210
            10          303
            11            1
            12          731
            13           62
            18          466
            19           13
            20          684
            21            4
            22         1167
            23          663
            24          832
dtype: int64

<img src="img/som_5_5_cluster.png">

In [9]:
sign_count = data.filter(['tweek_sign','cluster'], axis=1)
sign_count = sign_count[sign_count['tweek_sign'] == 0]
sign_count.value_counts(sort=False)

tweek_sign  cluster
0           0          2336
            1            53
            2             7
            4             8
            5            34
            6             1
            7           303
            8            23
            9           478
            10          639
            11           11
            12         1815
            13          630
            15           16
            17           22
            18         2448
            19          141
            20          804
            21            5
            22         1676
            23          260
            24          689
dtype: int64

In [10]:
sign_count = data.filter(['tweek_sign','cluster'], axis=1)
sign_count = sign_count[sign_count['tweek_sign'] == 1]
sign_count.value_counts(sort=False)

tweek_sign  cluster
1           0           4
            1           2
            2           1
            7          25
            8           1
            9           1
            10          4
            12         13
            18          7
            20         26
            22         26
            23         34
            24         31
dtype: int64

In [11]:
sign_count = data.filter(['tweek_sign','cluster'], axis=1)
sign_count = sign_count[sign_count['tweek_sign'] == 2]
sign_count.value_counts(sort=False)

tweek_sign  cluster
2           0           1
            1           2
            2           3
            7          14
            8           2
            9           2
            10          2
            12         13
            18          2
            20         11
            22          9
            23         62
            24         19
dtype: int64

In [12]:
sign_count = data.filter(['tweek_sign','cluster'], axis=1)
sign_count = sign_count[sign_count['tweek_sign'] == 3]
sign_count.value_counts(sort=False)

tweek_sign  cluster
3           0           3
            1           3
            4           2
            7          30
            8           4
            9           2
            10          1
            12         21
            18          2
            20         16
            22         11
            23         95
            24         53
dtype: int64

In [13]:
sign_count = data.filter(['tweek_sign','cluster'], axis=1)
sign_count = sign_count[sign_count['tweek_sign'] == 4]
sign_count.value_counts(sort=False)

tweek_sign  cluster
4           0            5
            2            2
            4            1
            5            1
            7           43
            8           10
            9            1
            10           1
            12          34
            13           1
            18           8
            20          28
            22          57
            23         233
            24         263
dtype: int64