## Python notebook 
V nasledujúcom notebooku sú popísané Python metódy použité pre analýzu zhlukov k-Means. Obsah notebooku je nasledujúci:
1. Import potrebných knižníc
2. Analýza zhlukov

# 1. Import potrebných knižníc

In [1]:
import pandas as pd
import numpy as np

# 2. Analýza zhlukov
Analyzujeme zhlukovanie do 5, 6 a 7 zhlukov. Na začiatku načítame csv súbor pre konkrétne zhlukovanie a ten ďalej analyzujeme. Sledujeme ako zhluky vyzerajú vizuálne a aké sú početnosti jednotlivých atribútov obsiahnutých v csv súbore.

<H3>K means weak encoder 5 clusters<H3>

In [2]:
#load data
data = pd.read_csv("cluster_csv/lowdim_K5_2014_11.csv")
data.drop(['org_img', 'event', 'date', 'second', 'milisecond'],axis='columns', inplace=True)
data

,image,tweek,f_min<2kHz,tweek_sign,cluster
0,ch2_20141130_000500_988_s122-S1.jpg,0,0,0,1
1,ch2_20141130_000500_988_s122-T1.jpg,1,1,4,3
2,ch2_20141130_000500_988_s122-S2.jpg,0,1,0,3
3,ch2_20141130_000500_988_s125-S1.jpg,0,1,0,2
4,ch2_20141130_000500_988_s125-S2.jpg,0,0,0,1
...,...,...,...,...,...
13642,ch2_20141130_235542_205_s9-S13.jpg,0,1,0,4
13643,ch2_20141130_235542_205_s9-S14.jpg,0,0,0,4
13644,ch2_20141130_235542_205_s9-S15.jpg,0,0,0,4
13645,ch2_20141130_235542_205_s9-S16.jpg,0,0,0,4
13646,ch2_20141130_235542_205_s95-S1.jpg,0,1,0,3

In [3]:
#pocetnost imgs v clustroch
cluster_count = data.filter(['image','cluster'], axis=1) 
cluster_count.groupby('cluster').count()

         image
cluster
0         2680
1         1745
2         3573
3         2104
4         3545

<img src="cluster_img_cropped/lowdim_K5.png">

In [4]:
#rozlozenie tweekov a sphericov v clustroch
tweek_count = data.filter(['tweek','cluster'], axis=1)
tweek_count.value_counts(sort=False)

tweek  cluster
0      0          1794
       1          1745
       2          3449
       3          1913
       4          3498
1      0           886
       2           124
       3           191
       4            47
dtype: int64

In [5]:
fmin_count = data.filter(['f_min<2kHz','cluster'], axis=1)
fmin_count.value_counts(sort=False)

f_min<2kHz  cluster
0           0           500
            1          1673
            2          2196
            3           703
            4          2744
1           0          2180
            1            72
            2          1377
            3          1401
            4           801
dtype: int64

In [6]:
sign_count = data.filter(['tweek_sign','cluster'], axis=1)
sign_count.value_counts(sort=False)

tweek_sign  cluster
0           0          1794
            1          1745
            2          3449
            3          1913
            4          3498
1           0           104
            2            25
            3            40
            4             6
2           0           116
            2            14
            3             9
            4             3
3           0           178
            2            38
            3            14
            4            13
4           0           488
            2            47
            3           128
            4            25
dtype: int64

<H3>K means weak encoder 6 clusters<H3>

In [7]:
#load data
data = pd.read_csv("cluster_csv/lowdim_K6_2014_11.csv")
data.drop(['org_img', 'event', 'date', 'second', 'milisecond'],axis='columns', inplace=True)
data

,image,tweek,f_min<2kHz,tweek_sign,cluster
0,ch2_20141130_000500_988_s122-S1.jpg,0,0,0,1
1,ch2_20141130_000500_988_s122-T1.jpg,1,1,4,3
2,ch2_20141130_000500_988_s122-S2.jpg,0,1,0,3
3,ch2_20141130_000500_988_s125-S1.jpg,0,1,0,2
4,ch2_20141130_000500_988_s125-S2.jpg,0,0,0,1
...,...,...,...,...,...
13642,ch2_20141130_235542_205_s9-S13.jpg,0,1,0,5
13643,ch2_20141130_235542_205_s9-S14.jpg,0,0,0,5
13644,ch2_20141130_235542_205_s9-S15.jpg,0,0,0,5
13645,ch2_20141130_235542_205_s9-S16.jpg,0,0,0,5
13646,ch2_20141130_235542_205_s95-S1.jpg,0,1,0,3

In [8]:
#pocetnost imgs v clustroch
cluster_count = data.filter(['image','cluster'], axis=1) 
cluster_count.groupby('cluster').count()

         image
cluster
0         1432
1         1700
2         3267
3         1925
4         2055
5         3268

<img src="cluster_img_cropped/lowdim_K6.png">

In [9]:
#rozlozenie tweekov a sphericov v clustroch
tweek_count = data.filter(['tweek','cluster'], axis=1)
tweek_count.value_counts(sort=False)

tweek  cluster
0      0           498
       1          1700
       2          3174
       3          1750
       4          2032
       5          3245
1      0           934
       2            93
       3           175
       4            23
       5            23
dtype: int64

In [10]:
fmin_count = data.filter(['f_min<2kHz','cluster'], axis=1)
fmin_count.value_counts(sort=False)

f_min<2kHz  cluster
0           0           189
            1          1630
            2          2083
            3           605
            4           754
            5          2555
1           0          1243
            1            70
            2          1184
            3          1320
            4          1301
            5           713
dtype: int64

In [11]:
sign_count = data.filter(['tweek_sign','cluster'], axis=1)
sign_count.value_counts(sort=False)

tweek_sign  cluster
0           0           498
            1          1700
            2          3174
            3          1750
            4          2032
            5          3245
1           0           101
            2            20
            3            39
            4            11
            5             4
2           0           118
            2            10
            3            10
            4             3
            5             1
3           0           186
            2            33
            3            17
            4             1
            5             6
4           0           529
            2            30
            3           109
            4             8
            5            12
dtype: int64

<H3>K means weak encoder 7 clusters<H3>

In [12]:
#load data
data = pd.read_csv("cluster_csv/lowdim_K7_2014_11.csv")
data.drop(['org_img', 'event', 'date', 'second', 'milisecond'],axis='columns', inplace=True)
data

,image,tweek,f_min<2kHz,tweek_sign,cluster
0,ch2_20141130_000500_988_s122-S1.jpg,0,0,0,2
1,ch2_20141130_000500_988_s122-T1.jpg,1,1,4,6
2,ch2_20141130_000500_988_s122-S2.jpg,0,1,0,6
3,ch2_20141130_000500_988_s125-S1.jpg,0,1,0,3
4,ch2_20141130_000500_988_s125-S2.jpg,0,0,0,2
...,...,...,...,...,...
13642,ch2_20141130_235542_205_s9-S13.jpg,0,1,0,0
13643,ch2_20141130_235542_205_s9-S14.jpg,0,0,0,0
13644,ch2_20141130_235542_205_s9-S15.jpg,0,0,0,0
13645,ch2_20141130_235542_205_s9-S16.jpg,0,0,0,5
13646,ch2_20141130_235542_205_s95-S1.jpg,0,1,0,6

In [13]:
#pocetnost imgs v clustroch
cluster_count = data.filter(['image','cluster'], axis=1) 
cluster_count.groupby('cluster').count()

         image
cluster
0         1965
1         2008
2         1654
3         1366
4         2144
5         3101
6         1409

<img src="cluster_img_cropped/lowdim_K7.png">

In [15]:
#rozlozenie tweekov a sphericov v clustroch
tweek_count = data.filter(['tweek','cluster'], axis=1)
tweek_count.value_counts(sort=False)

tweek  cluster
0      0          1938
       1          1985
       2          1654
       3           457
       4          2089
       5          3058
       6          1218
1      0            27
       1            23
       3           909
       4            55
       5            43
       6           191
dtype: int64

In [16]:
fmin_count = data.filter(['f_min<2kHz','cluster'], axis=1)
fmin_count.value_counts(sort=False)

f_min<2kHz  cluster
0           0          1439
            1           758
            2          1592
            3           179
            4          1334
            5          2263
            6           251
1           0           526
            1          1250
            2            62
            3          1187
            4           810
            5           838
            6          1158
dtype: int64

In [17]:
sign_count = data.filter(['tweek_sign','cluster'], axis=1)
sign_count.value_counts(sort=False)

tweek_sign  cluster
0           0          1938
            1          1985
            2          1654
            3           457
            4          2089
            5          3058
            6          1218
1           0             6
            1            10
            3           101
            4            12
            5            10
            6            36
2           0             1
            1             4
            3           111
            4             9
            5             2
            6            15
3           0             3
            1             1
            3           185
            4            16
            5            16
            6            22
4           0            17
            1             8
            3           512
            4            18
            5            15
            6           118
dtype: int64