## Python notebook 
V nasledujúcom notebooku sú popísané Python metódy použité pre analýzu zhlukov k-Means. Obsah notebooku je nasledujúci:
1. Import potrebných knižníc
2. Analýza zhlukov

# 1. Import potrebných knižníc

In [1]:
import pandas as pd
import numpy as np

# 2. Analýza zhlukov

Analyzujeme jednotlivé zhluky SOM mapy. Na začiatku načítame csv súbor výstupnej tabuľky s informáciou o zhlukoch a ďalších parametroch. Sledujeme ako mapa vyzerajá vizuálne, podobnosť zhlukov a ich vzdialenosť. Ďalej pomocou výstupnej tabuľky analyzujeme početnosti jednotlivých atribútov v zhlukoch.

<H3>3x3 som net with sigma and learning rate optimalized<H3>

<img src="img/som_3_3_cluster_sig_opti.png">

In [2]:
#load data
data = pd.read_csv("som_csv/som3_3_sig_opti_2014_11.csv")
data.drop(['org_img', 'event', 'date', 'second', 'milisecond'],axis='columns', inplace=True)
data

,image,tweek,f_min<2kHz,tweek_sign,cluster
0,ch2_20141130_000500_988_s122-S1.jpg,0,0,0,3
1,ch2_20141130_000500_988_s122-T1.jpg,1,1,4,5
2,ch2_20141130_000500_988_s122-S2.jpg,0,1,0,5
3,ch2_20141130_000500_988_s125-S1.jpg,0,1,0,4
4,ch2_20141130_000500_988_s125-S2.jpg,0,0,0,0
...,...,...,...,...,...
13642,ch2_20141130_235542_205_s9-S13.jpg,0,1,0,4
13643,ch2_20141130_235542_205_s9-S14.jpg,0,0,0,4
13644,ch2_20141130_235542_205_s9-S15.jpg,0,0,0,4
13645,ch2_20141130_235542_205_s9-S16.jpg,0,0,0,4
13646,ch2_20141130_235542_205_s95-S1.jpg,0,1,0,5

In [3]:
#pocetnost imgs v clustroch
cluster_count = data.filter(['image','cluster'], axis=1) 
cluster_count.groupby('cluster').count()

         image
cluster
0         1117
1          376
2         1065
3         1067
4         6011
5         3434
6          361
7           19
8          197

<img src="img/som_3_3_cluster_sig_opti.png">

In [4]:
#rozlozenie tweekov a sphericov v clustroch
tweek_count = data.filter(['tweek','cluster'], axis=1)
tweek_count.value_counts(sort=False)

tweek  cluster
0      0          1115
       1           301
       2           971
       3          1067
       4          5728
       5          2790
       6           361
       7            18
       8            48
1      0             2
       1            75
       2            94
       4           283
       5           644
       7             1
       8           149
dtype: int64

In [5]:
#rozlozenie f_min<2kHz v clustroch
fmin_count = data.filter(['f_min<2kHz','cluster'], axis=1)
fmin_count.value_counts(sort=False)

f_min<2kHz  cluster
0           0           868
            1            81
            2           668
            3          1027
            4          3911
            5           903
            6           338
            7            12
            8             8
1           0           249
            1           295
            2           397
            3            40
            4          2100
            5          2531
            6            23
            7             7
            8           189
dtype: int64

<img src="img/som_3_3_cluster_sig_opti.png">

In [6]:
#rozlozenie disperzii v clustroch
sign_count = data.filter(['tweek_sign','cluster'], axis=1)
sign_count = sign_count[sign_count['tweek_sign'] == 0]
sign_count.value_counts(sort=False)

tweek_sign  cluster
0           0          1115
            1           301
            2           971
            3          1067
            4          5728
            5          2790
            6           361
            7            18
            8            48
dtype: int64

In [7]:
sign_count = data.filter(['tweek_sign','cluster'], axis=1)
sign_count = sign_count[sign_count['tweek_sign'] == 1]
sign_count.value_counts(sort=False)

tweek_sign  cluster
1           0           1
            1          11
            2          24
            4          19
            5          85
            8          35
dtype: int64

In [8]:
sign_count = data.filter(['tweek_sign','cluster'], axis=1)
sign_count = sign_count[sign_count['tweek_sign'] == 2]
sign_count.value_counts(sort=False)

tweek_sign  cluster
2           1           2
            2          15
            4          21
            5          68
            8          36
dtype: int64

In [9]:
sign_count = data.filter(['tweek_sign','cluster'], axis=1)
sign_count = sign_count[sign_count['tweek_sign'] == 3]
sign_count.value_counts(sort=False)

tweek_sign  cluster
3           1            8
            2           26
            4           72
            5          100
            7            1
            8           36
dtype: int64

In [10]:
sign_count = data.filter(['tweek_sign','cluster'], axis=1)
sign_count = sign_count[sign_count['tweek_sign'] == 4]
sign_count.value_counts(sort=False)

tweek_sign  cluster
4           0            1
            1           54
            2           29
            4          171
            5          391
            8           42
dtype: int64