## Python notebook 
V nasledujúcom notebooku sú popísané Python metódy použité pre analýzu zhlukov k-Means. Obsah notebooku je nasledujúci:
1. Import potrebných knižníc
2. Analýza zhlukov

# 1. Import potrebných knižníc

In [1]:
import pandas as pd
import numpy as np

# 2. Analýza zhlukov
Analyzujeme zhlukovanie do 5, 6 a 7 zhlukov. Na začiatku načítame csv súbor pre konkrétne zhlukovanie a ten ďalej analyzujeme. Sledujeme ako zhluky vyzerajú vizuálne a aké sú početnosti jednotlivých atribútov obsiahnutých v csv súbore.

<H3>K means no encoder 5 clusters<H3>

In [2]:
#load data
data = pd.read_csv("cluster_csv/noenc_K5_2014_11.csv")
data.drop(['org_img', 'event', 'date', 'second', 'milisecond'],axis='columns', inplace=True)
data

,image,tweek,f_min<2kHz,tweek_sign,cluster
0,ch2_20141130_000500_988_s122-S1.jpg,0,0,0,3
1,ch2_20141130_000500_988_s122-T1.jpg,1,1,4,4
2,ch2_20141130_000500_988_s122-S2.jpg,0,1,0,4
3,ch2_20141130_000500_988_s125-S1.jpg,0,1,0,0
4,ch2_20141130_000500_988_s125-S2.jpg,0,0,0,3
...,...,...,...,...,...
13642,ch2_20141130_235542_205_s9-S13.jpg,0,1,0,2
13643,ch2_20141130_235542_205_s9-S14.jpg,0,0,0,2
13644,ch2_20141130_235542_205_s9-S15.jpg,0,0,0,2
13645,ch2_20141130_235542_205_s9-S16.jpg,0,0,0,2
13646,ch2_20141130_235542_205_s95-S1.jpg,0,1,0,4

In [3]:
#pocetnost imgs v clustroch
cluster_count = data.filter(['image','cluster'], axis=1) 
cluster_count.groupby('cluster').count()

         image
cluster
0         3616
1         2642
2         3640
3         1684
4         2065

<img src="cluster_img_cropped/no_enc_K5.png">

In [4]:
#rozlozenie tweekov a sphericov v clustroch
tweek_count = data.filter(['tweek','cluster'], axis=1)
tweek_count.value_counts(sort=False)

tweek  cluster
0      0          3493
       1          1824
       2          3587
       3          1684
       4          1811
1      0           123
       1           818
       2            53
       4           254
dtype: int64

In [5]:
fmin_count = data.filter(['f_min<2kHz','cluster'], axis=1)
fmin_count.value_counts(sort=False)

f_min<2kHz  cluster
0           0          2257
            1           520
            2          2792
            3          1614
            4           633
1           0          1359
            1          2122
            2           848
            3            70
            4          1432
dtype: int64

In [6]:
sign_count = data.filter(['tweek_sign','cluster'], axis=1)
sign_count.value_counts(sort=False)

tweek_sign  cluster
0           0          3493
            1          1824
            2          3587
            3          1684
            4          1811
1           0            28
            1           100
            2             6
            4            41
2           0            14
            1           109
            2             3
            4            16
3           0            38
            1           166
            2            16
            4            23
4           0            43
            1           443
            2            28
            4           174
dtype: int64

<H3>K means no encoder 6 clusters<H3>

In [7]:
#load data
data = pd.read_csv("cluster_csv/noenc_K6_2014_11.csv")
data.drop(['org_img', 'event', 'date', 'second', 'milisecond'],axis='columns', inplace=True)
data

,image,tweek,f_min<2kHz,tweek_sign,cluster
0,ch2_20141130_000500_988_s122-S1.jpg,0,0,0,0
1,ch2_20141130_000500_988_s122-T1.jpg,1,1,4,3
2,ch2_20141130_000500_988_s122-S2.jpg,0,1,0,3
3,ch2_20141130_000500_988_s125-S1.jpg,0,1,0,1
4,ch2_20141130_000500_988_s125-S2.jpg,0,0,0,0
...,...,...,...,...,...
13642,ch2_20141130_235542_205_s9-S13.jpg,0,1,0,4
13643,ch2_20141130_235542_205_s9-S14.jpg,0,0,0,4
13644,ch2_20141130_235542_205_s9-S15.jpg,0,0,0,4
13645,ch2_20141130_235542_205_s9-S16.jpg,0,0,0,4
13646,ch2_20141130_235542_205_s95-S1.jpg,0,1,0,3

In [8]:
#pocetnost imgs v clustroch
cluster_count = data.filter(['image','cluster'], axis=1) 
cluster_count.groupby('cluster').count()

         image
cluster
0         1642
1         3283
2         1935
3         1908
4         3457
5         1422

<img src="cluster_img_cropped/no_enc_K6.png">

In [9]:
#rozlozenie tweekov a sphericov v clustroch
tweek_count = data.filter(['tweek','cluster'], axis=1)
tweek_count.value_counts(sort=False)

tweek  cluster
0      0          1642
       1          3186
       2          1914
       3          1710
       4          3424
       5           523
1      1            97
       2            21
       3           198
       4            33
       5           899
dtype: int64

In [10]:
fmin_count = data.filter(['f_min<2kHz','cluster'], axis=1)
fmin_count.value_counts(sort=False)

f_min<2kHz  cluster
0           0          1578
            1          2088
            2           756
            3           560
            4          2659
            5           175
1           0            64
            1          1195
            2          1179
            3          1348
            4           798
            5          1247
dtype: int64

In [11]:
sign_count = data.filter(['tweek_sign','cluster'], axis=1)
sign_count.value_counts(sort=False)

tweek_sign  cluster
0           0          1642
            1          3186
            2          1914
            3          1710
            4          3424
            5           523
1           1            22
            2             9
            3            42
            4             4
            5            98
2           1            11
            2             3
            3            12
            4             1
            5           115
3           1            35
            3            21
            4            10
            5           177
4           1            29
            2             9
            3           123
            4            18
            5           509
dtype: int64

<H3>K means no encoder 7 clusters<H3>

In [12]:
#load data
data = pd.read_csv("cluster_csv/noenc_K7_2014_11.csv")
data.drop(['org_img', 'event', 'date', 'second', 'milisecond'],axis='columns', inplace=True)
data

,image,tweek,f_min<2kHz,tweek_sign,cluster
0,ch2_20141130_000500_988_s122-S1.jpg,0,0,0,1
1,ch2_20141130_000500_988_s122-T1.jpg,1,1,4,6
2,ch2_20141130_000500_988_s122-S2.jpg,0,1,0,6
3,ch2_20141130_000500_988_s125-S1.jpg,0,1,0,4
4,ch2_20141130_000500_988_s125-S2.jpg,0,0,0,5
...,...,...,...,...,...
13642,ch2_20141130_235542_205_s9-S13.jpg,0,1,0,0
13643,ch2_20141130_235542_205_s9-S14.jpg,0,0,0,0
13644,ch2_20141130_235542_205_s9-S15.jpg,0,0,0,0
13645,ch2_20141130_235542_205_s9-S16.jpg,0,0,0,4
13646,ch2_20141130_235542_205_s95-S1.jpg,0,1,0,6

In [13]:
#pocetnost imgs v clustroch
cluster_count = data.filter(['image','cluster'], axis=1) 
cluster_count.groupby('cluster').count()

         image
cluster
0         2049
1         1601
2         1366
3         1881
4         3187
5         2129
6         1434

<img src="cluster_img_cropped/no_enc_K7.png">

In [14]:
#rozlozenie tweekov a sphericov v clustroch
tweek_count = data.filter(['tweek','cluster'], axis=1)
tweek_count.value_counts(sort=False)

tweek  cluster
0      0          2024
       1          1601
       2           486
       3          1861
       4          3120
       5          2070
       6          1237
1      0            25
       2           880
       3            20
       4            67
       5            59
       6           197
dtype: int64

In [15]:
fmin_count = data.filter(['f_min<2kHz','cluster'], axis=1)
fmin_count.value_counts(sort=False)

f_min<2kHz  cluster
0           0          1485
            1          1543
            2           165
            3           758
            4          2271
            5          1334
            6           260
1           0           564
            1            58
            2          1201
            3          1123
            4           916
            5           795
            6          1174
dtype: int64

In [16]:
sign_count = data.filter(['tweek_sign','cluster'], axis=1)
sign_count.value_counts(sort=False)

tweek_sign  cluster
0           0          2024
            1          1601
            2           486
            3          1861
            4          3120
            5          2070
            6          1237
1           0             6
            2            97
            3             8
            4            15
            5            13
            6            36
2           2           112
            3             3
            4             3
            5            10
            6            14
3           0             3
            2           174
            4            23
            5            19
            6            24
4           0            16
            2           497
            3             9
            4            26
            5            17
            6           123
dtype: int64